language: php

php:
  - 7.2
  - 7.3
  - 7.4

addons:
  apt:
    packages:
      - parallel

sudo: false
cache:
  directories:
    - $HOME/.composer/cache

# Do not build feature branches or alpha/beta releases
branches:
  only:
    - master
    - develop
    - /^([0-9]+\.){1,2}(x|[0-9]+)$/

notifications:
  email:
    - typo3@helhum.io

before_install:
  - phpenv config-rm xdebug.ini
  - composer self-update
  - composer --version

before_script:
  - composer install

script:
  - >
    echo;
    echo "Running unit tests";
    vendor/bin/phpunit tests/Unit/
  - >
    echo;
    echo "Running php lint";
    find . -name \*.php ! -path "./vendor/*" | parallel --gnu php -d display_errors=stderr -l {} > /dev/null \;
