<?php
call_user_func(function($dotEnvDir, $cacheDir) {
    if (file_exists($dotEnvDir . '/.env')) {
        $dotEnvReader = new \Helhum\DotEnvConnector\DotEnvReader(new \Dotenv\Dotenv($dotEnvDir), new \Helhum\DotEnvConnector\Cache($cacheDir, $dotEnvDir));
        $dotEnvReader->read();
    }
}, {$env-dir}, {$cache-dir});
