<?php
call_user_func(function($dotEnvFile, $loadMethod) {
    if (!getenv('APP_ENV') && file_exists($dotEnvFile)) {
        (new \Symfony\Component\Dotenv\Dotenv())->$loadMethod($dotEnvFile);
    }
}, '{$env-file}', '{$load-method}');
